# {{ ansible_managed }}

# This file intentionally blank, as no one should be able to 
# connect to your CheckMK agents by default. Follow the instructions in
# the README.md if you don't already have your own authentication keys.
